/.mixin.out
/backups
/crash-reports
/CustomSkinLoader
/journeymap
/local
/logs
/luckperms

/mods/memory_repo
/mods/millenaire
/mods/millenaire-custom
/mods/OpenSecurity

/nucleus
/snapshots-server
/structures
/structurize
/tmp
/world

/*.log
/*.dll
/*.so
/*.json
/*.zip

/config/flexiblelogin/database.mv.db
/config/prism/prism.mv.db
/config/serverlistplus/PlayerCache.json

