/.mixin.out
/crash-reports
/CustomSkinLoader
/journeymap
/local
/logs
/luckperms

/mods/memory_repo
/mods/millenaire
/mods/millenaire-custom
/mods/OpenSecurity

/nucleus
/snapshots-server
/structures
/structurize

/*.log
/*.dll
/*.json